<div class="w3-content w3-display-container" style="max-width:100%; padding-top: 10%;" >
  <!-- <img class="mySlides" src="slides/01.jpg" style="width:100%"> -->
  <img class="mySlides w3-image w3-animate-right" src="<?php echo base_url('images/slides/01.jpg') ?>" style="width:100%">
  <img class="mySlides w3-image w3-animate-right" src="<?php echo base_url('images/slides/02.jpg') ?>" style="width:100%">
  <img class="mySlides w3-image w3-animate-right" src="<?php echo base_url('images/slides/03.jpg') ?>" style="width:100%">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  </div>
</div>






<div class="ism-slider" data-play_type="loop" id="my-slider">
  <ol>
          <li> <img src="<?php echo base_url('images/slides/01.jpg') ?>" width="1080" height="501" /> </li>
          <li> <a href="raja.htm" target="_self"> <img src="<?php echo base_url('images/slides/02.jpg') ?>" width="1080" height="501" /> </a> </li>
          <li> <a href="/subscription/gift.php" target="_self"> <img src="<?php echo base_url('images/slides/03.jpg') ?>" width="1080" height="501" /> </a> </li>
        </ol>
        </div>
